header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  width: 100%;
  background: var(--linear);
  z-index: 1;
  .toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo {
      width: 100px;
      z-index: 1001;
    }
  }

  .log {
    display: flex;
    align-items: stretch;
    justify-content: end;
    flex-basis: 40%;
    .login {
      color: var(--color-text);
      font-family: "GraphikRegular";
      text-transform: capitalize;
      border: var(--color-text) 1px solid;
      padding: 0.75rem 1.5rem;

      text-align: center;
      transition: all 300ms ease;
      &:hover {
        background: var(--btn);
        border: var(--btn) 1px solid;
      }
    }

    .hamburger {
      cursor: pointer;
      transform: rotate(180deg) translateY(30%);
      margin-right: 1rem;
      margin-left: 2rem;
      z-index: 1001;

      .menu {
        cursor: pointer;
        display: block;
        width: 27px;
        height: 2px;
        background: #ffff;
        margin-bottom: 4px;
      }

      .menu:nth-child(2) {
        width: 18px;
      }
      .menu:nth-child(1) {
        width: 9px;
      }
    }
  }

  .navbar {
    position: fixed;
    background: var(--linear);
    top: 0;
    width: 100%;
    min-height: 100vh;
    transform: translateY(-1000%);
    transform: translateX(100%);
    transition: translate 400ms ease-in;
    z-index: 1000;

    &.open {
      transform: translateY(0%);
      transform: translateX(0%);
    }

    .link {
      color: var(--color-text);
      font-family: "GraphikRegular";
      text-transform: capitalize;
      transition: all 300ms ease-in;
      text-align: center;
      &:hover {
        color: var(--btn);
      }
    }

    .list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .item {
      padding: 6rem 0;
    }
  }
}
